.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid maroon;
  box-sizing: border-box;
  height: 100px;
}

.search-results {
  height: 400px;
  overflow: scroll;
}

@media (max-width: 991px) {
  /* Header */
  .main-header {
    height: 60px;
  }
  .main-header .navbar-brand img {
    height: 40px;
  }
  .main-header .navbar-brand::before {
    right: -15px;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
  }
  .main-header .navbar-light .get-quote {
    margin-right: 75px;
    padding: 5px 10px;
    font-size: 0.85em;
  }
  .main-header .navbar-toggler {
    padding: 0;
    position: static;
    right: 15px;
    top: 0px;
    z-index: 9;
    width: 50px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }
  .main-header .navbar-nav .nav-link {
    transition: all 200ms linear;
    position: relative;
    display: block;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-header .navbar-collapse {
    position: fixed;
    background-color: #fff;
    z-index: 999999;
    width: 300px;
    max-width: 75%;
    top: 0;
    left: 0;
    padding: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.25s ease;
    height: 100% !important;
    box-shadow: 0px 0px 15px #ccc;
  }
  .main-header .navbar-collapse.show {
    transform: translateX(0);
  }
  .main-header .navbar-nav .nav-item {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #21252d;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #21252d;
  }
  .main-header .navbar-nav .nav-link {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header .navbar-nav .has-subitem::after {
    font-size: 1em;
    right: 15px;
    margin-top: 5px;
    color: #fff;
  }
  .main-header .nav-item:focus .sub-menu,
  .main-header .nav-item:focus-within .sub-menu,
  .main-header .nav-item:hover .sub-menu {
    position: relative;
    width: 100%;
    background-color: #4d4d4d;
  }
  .main-header .h-right .h-search input {
    height: 40px;
  }
  .navbar-light .navbar-toggler-icon {
    width: 26px;
    height: 20px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #e89034;
    transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after,
  .navbar-light .navbar-toggler-icon:before {
    width: 26px;
    position: absolute;
    height: 2px;
    background-color: #e89034;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after {
    top: 9px;
  }
  /*--- Filter ---*/
  .hedeer-filter {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
  }
  .hedeer-filter i {
    color: rgb(8, 100, 238);
  }
  .header-title .title {
    font-size: 24px;
    font-weight: bold;
  }
}
