<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="false"
  data-bs-touch="true"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item active"
      style="height: 400px; background-color: rebeccapurple"
    >
      <h1>one</h1>
    </div>
    <div
      class="carousel-item"
      style="height: 400px; background-color: rebeccapurple"
    >
      <h1>two</h1>
    </div>
    <div
      class="carousel-item"
      style="height: 400px; background-color: rebeccapurple"
    >
      <h1>tthree</h1>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="../../assets/as.jpg" width="100%" alt="" />
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div> -->
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openXl(content)">
  Extra large modal
</button>

<a href="mailto:someone@yoursite.com">Email Us</a>
