<div class="backbutton float-end d-flex justify-content-center">
  <i class="fas fa-chevron-left"></i>
  <a class="back">Back</a>
</div>
<div class="mainWrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="referralInfo info-box">
          <h2 class="main-title">Referral Information</h2>
          <div class="ReferralInfoData">
            <div class="Referral">
              <h5>Referral#</h5>
              <span>100</span>
            </div>

            <div class="Referral priority">
              <span></span>
              <h5>Priority</h5>
              <span>High</span>
            </div>

            <div class="Referral">
              <h5>Status</h5>
              <span>Scheduled</span>
            </div>

            <div class="Referral">
              <h5>Intake By</h5>
              <span>Site</span>
            </div>

            <div class="Referral">
              <h5>Received On</h5>
              <span>5/1/2021</span>
            </div>

            <div class="Referral">
              <h5>Therapy</h5>
              <span>Remicade</span>
            </div>

            <div class="Referral">
              <h5>Frequency</h5>
              <span>QD</span>
            </div>

            <div class="Referral">
              <h5>First Appointment</h5>
              <span>3/24/2018</span>
            </div>

            <div class="Referral">
              <h5>Service Location</h5>
              <span>Dallas</span>
            </div>

            <div class="Referral">
              <h5>Acuity</h5>
              <span>High</span>
            </div>

            <div class="Referral">
              <h5>Cancel Reason</h5>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="providerInfo info-box">
          <h2 class="main-title">Provider Information</h2>
          <div class="providerInfoData ReferralInfoData">
            <div class="provider Referral">
              <h5>Referring Provider</h5>
              <span>Dr. Laxmi</span>
            </div>

            <div class="provider Referral">
              <h5>Fax</h5>
              <span>(123) 456 - 7890</span>
            </div>

            <div class="provider Referral">
              <h5>Phone</h5>
              <span>(123) 456 - 7890</span>
            </div>

            <div class="provider Referral">
              <h5>Contact Name</h5>
              <span>Mr. John</span>
            </div>

            <div class="provider Referral">
              <h5>Practice/Account</h5>
              <span>Account 204</span>
            </div>

            <div class="provider Referral">
              <h5>Email</h5>
              <span>drlaxmi@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- patient information -->
    <div class="row">
      <div class="col-lg-12">
        <div class="patientInfo info-box">
          <h2 class="main-title">Patient Information</h2>
          <div class="patientInfoData ReferralInfoData">
            <div class="patient Referral">
              <i class="fas fa-user-plus fa-flip-horizontal"></i>
              <div class="patientName">
                <h5>Patient Name</h5>
                <span>Anish Jhaveri</span>
              </div>
            </div>

            <div class="patient Referral">
              <h5>DOB</h5>
              <span>3/24/1985</span>
            </div>

            <div class="patient Referral">
              <h5>Insurrance</h5>
              <span>BCBS TX</span>
            </div>

            <div class="patient Referral">
              <h5>Day Phone</h5>
              <span>(123) 456 - 7890</span>
            </div>

            <div class="patient Referral">
              <h5>Mobile Phone</h5>
              <span>(123) 456 - 7890</span>
            </div>

            <div class="patient Referral">
              <h5>Email</h5>
              <span>anish.jhaveri@nividuos.com</span>
            </div>

            <div class="patient Referral">
              <h5>First Treatment Date</h5>
              <span>3/24/2018</span>
            </div>

            <div class="patient Referral">
              <h5>Last Treatment Date</h5>
              <span>11/28/2020</span>
            </div>

            <div class="patient Referral">
              <h5>Diagnosis</h5>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ReferralProcessing -->
    <div class="row">
      <div class="col-lg-12">
        <div class="referralProcessingInfo info-box">
          <h2 class="main-title">Referral Processing</h2>
          <div class="referralProcessingData">
            <!-- Table Data -->
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Started On</th>
                  <th>Completed On</th>
                  <th>Processing Status</th>
                  <th>Task Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full green"></i>
                      <span>Notify Patient</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td>5/3/21</td>
                  <td>Completed</td>
                  <td>
                    [Mojica, Sandy] - 05/21/21 06:26PM - Ivm for pt stating we
                    have....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full green"></i>
                      <span>Missing Items</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td>5/3/21</td>
                  <td>Completed</td>
                  <td>
                    [kelmer, Margaret] - 05/22/21 08:52PM - called MDO to
                    req.....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full orange"></i>
                      <span>Clinical Clearance</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td></td>
                  <td>In Progress</td>
                  <td>
                    [Ayala, Hermalinda] - 05/21/21 08:37PM - LVM for patient....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full green"></i>
                      <span>Verify Benefits</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td>5/3/21</td>
                  <td>Completed</td>
                  <td>
                    [Galvan , Hermalinda] - 05/23/21 04:40PM - Precert required
                    thru.....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full gray"></i>
                      <span>Pre-Cerification</span>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td>Not Started</td>
                  <td>
                    [Hernandez, Paul] - 05/25/21 12:56PM - completed online
                    scann.....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-times" style="color: #7a7a7a"></i>
                      <span>P2P Clinical Mgr Review</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td>5/3/21</td>
                  <td>Cancelled</td>
                  <td></td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full orange"></i>
                      <span>Cost Estimate</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td></td>
                  <td>In Progress</td>
                  <td></td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-square-full green"></i>
                      <span>Cost Estimate</span>
                    </div>
                  </td>
                  <td>5/2/21</td>
                  <td>5/3/21</td>
                  <td>Completed</td>
                  <td>
                    [Pellerin, Shannon] - 05/23/21 11:57AM - spoke wiht Pt. I
                    will....
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="colorNamePair">
                      <i class="fas fa-times background-gray"></i>
                      <span>P2P Clinical Mgr Review</span>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td>Skipped</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Notes -->
    <div class="row">
      <div class="col-lg-12">
        <div class="notesInfo info-box">
          <h2 class="main-title">Notes</h2>
          <div class="notesData">
            <!-- Notes Table Data -->
            <table>
              <thead>
                <tr>
                  <th>Note Date</th>
                  <th>Subject</th>
                  <th>Notes</th>
                  <th>Created By</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>05/21/21 06:26PM</td>
                  <td>Notify Patient</td>
                  <td>Ivm for pt stating we have recvd order for stelara</td>
                  <td>Mojica, Sandy</td>
                </tr>
                <tr>
                  <td>05/22/21 08:52PM</td>
                  <td>Missing Items</td>
                  <td>called MDO to req. a DEXA</td>
                  <td>Kelner, Margaret</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Document Links -->
    <div class="row">
      <div class="col-lg-12">
        <div class="documentInfo info-box">
          <h2 class="main-title">Document Links</h2>
          <div class="documentData">
            <!-- Table Document Data -->
            <table>
              <thead>
                <tr>
                  <th>Document Date</th>
                  <th>Title</th>
                  <th>Size</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5/2/21</td>
                  <td>Doc1.pdf</td>
                  <td>5.2Mb</td>
                  <td><i class="fas fa-download"></i></td>
                </tr>
                <tr>
                  <td>5/2/21</td>
                  <td>Doc2.pdf</td>
                  <td>2.3Mb</td>
                  <td><i class="fas fa-download"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger" (click)="OnSave()">Save</button>
