<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="referralInfo">
        <h2>Referral Information</h2>
        <div class="ReferralInfoData">
          <div class="Referral">
            <h5>Referral#</h5>
            <span>100</span>
          </div>

          <div class="Referral">
            <span></span>
            <h5>Priority</h5>
            <span>High</span>
          </div>

          <div class="Referral">
            <h5>Status</h5>
            <span>Scheduled</span>
          </div>

          <div class="Referral">
            <h5>Intake By</h5>
            <span>Site</span>
          </div>

          <div class="Referral">
            <h5>Received On</h5>
            <span>5/1/2021</span>
          </div>

          <div class="Referral">
            <h5>Therapy</h5>
            <span>Remicade</span>
          </div>

          <div class="Referral">
            <h5>Frequency</h5>
            <span>QD</span>
          </div>

          <div class="Referral">
            <h5>First Appointment</h5>
            <span>3/24/2018</span>
          </div>

          <div class="Referral">
            <h5>Service Location</h5>
            <span>Dallas</span>
          </div>

          <div class="Referral">
            <h5>Acuity</h5>
            <span>High</span>
          </div>

          <div class="Referral">
            <h5>Cancel Reason</h5>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="providerInfo">
        <h2>Provider Information</h2>
        <div class="providerInfoData">
          <div class="provider">
            <h5>Referring Provider</h5>
            <span>Dr. Laxmi</span>
          </div>

          <div class="provider">
            <h5>Fax</h5>
            <span>(123) 456 - 7890</span>
          </div>

          <div class="provider">
            <h5>Phone</h5>
            <span>(123) 456 - 7890</span>
          </div>

          <div class="provider">
            <h5>Contact Name</h5>
            <span>Mr. John</span>
          </div>

          <div class="provider">
            <h5>Account 1024</h5>
            <span>Account 204</span>
          </div>

          <div class="provider">
            <h5>Email</h5>
            <span>drlaxmi@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- patient information -->
  <div class="row">
    <div class="patientInfo">
      <h2>Patient Information</h2>
      <div class="patientInfoData">
        <div class="patient">
          <i class="fas fa-user-plus fa-flip-horizontal"></i>
          <div class="patientName">
            <h5>Patient Name</h5>
            <span>Anish Jhaveri</span>
          </div>
        </div>

        <div class="patient">
          <h5>DOB</h5>
          <span>3/24/1985</span>
        </div>

        <div class="patient">
          <h5>Insurrance</h5>
          <span>BCBS TX</span>
        </div>

        <div class="patient">
          <h5>Day Phone</h5>
          <span>(123) 456 - 7890</span>
        </div>

        <div class="patient">
          <h5>Mobile Phone</h5>
          <span>(123) 456 - 7890</span>
        </div>

        <div class="patient">
          <h5>Email</h5>
          <span>anish.jhaveri@nividuos.com</span>
        </div>

        <div class="patient">
          <h5>First Treatment Date</h5>
          <span>3/24/2018</span>
        </div>

        <div class="patient">
          <h5>Last Treatment Date</h5>
          <span>11/28/2020</span>
        </div>

        <div class="patient">
          <h5>Diagnosis</h5>
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="referralProcessingInfo">
      <h2>Referral Processing</h2>
      <div class="referralProcessingData">
        <!-- Table Data -->
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Started On</th>
              <th>Completed On</th>
              <th>Processing Status</th>
              <th>Task Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
