<div class="container-fluid wrapperContainer">
  <div class="wrapperOne">
    <div class="wrapperDataOne">
      <i class="fas fa-long-arrow-alt-up fa-rotate-45"></i>
      <h2>300</h2>
      <span>Referrals Received</span>
    </div>

    <div class="wrapperDataOne">
      <i class="fas fa-user-plus fa-flip-horizontal"></i>

      <h2>275</h2>
      <span>New Patient</span>
    </div>

    <div class="wrapperDataOne">
      <i class="fas fa-star"></i>

      <h2>32</h2>
      <span>New Referral Sources</span>
    </div>

    <div class="wrapperDataOne">
      <i class="fas fa-check-double"></i>
      <h2>140</h2>
      <span>Referral Processed</span>
    </div>

    <div class="wrapperDataOne">
      <i class="far fa-window-close"></i>
      <h2>10</h2>
      <span>Referrals Cancelled</span>
    </div>

    <div class="wrapperDataOne">
      <i class="fas fa-sync-alt"></i>
      <h2>156</h2>
      <span>Referrals Pending</span>
    </div>
  </div>

  <div class="wrapperTwo">
    <h6 class="title-refferal"><span>Referral Pending</span></h6>
    <div class="wrapperDataTwo">
      <h4>25</h4>
      <span>Patient Notification</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>10</h4>
      <span>Missing</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>15</h4>
      <span>Clinical Clearance</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>25</h4>
      <span>Benefits Verification</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>45</h4>
      <span>Pre-Cert</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>6</h4>
      <span>P2P/Clinical Mgr Review</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>10</h4>
      <span>Cost Estimate</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>25</h4>
      <span>Co-pay Assistance</span>
    </div>

    <div class="wrapperDataTwo">
      <h4>34</h4>
      <span>Ready to Schedule</span>
    </div>
  </div>
</div>
